@import 'vars';
@import 'typography';


body {
  font-family: Helvetica, sans-serif;
  color: $font-color--dark;
  background-color: #f7f7f7;
  padding: $half-space;
}

.detailImage {
  position: absolute;
  top: -3em;
  left: 0;
}

.mapBtn.mapBtn.mapBtn {
  background-color: #000066;
  left: 35%;
  line-height: 2em;
  border: solid 2px #FFB915;
}

.luftImg {
  width: 5em;
  left: -0.99em;
  top: -0.5em;
  position: absolute;
}

.detailImg {
  position: absolute;
  left: -0.2em;
  top: -0.3em;
}

.md-default-theme {
  background-color: transparent;
}

.marginLeftBtn.marginLeftBtn.marginLeftBtn {
  margin-left: 25%;
}

.welcomebg {
  background-color: #f7f7f7;
  background-image: url("./../images/welcomebg.png");
  background-size: contain;
}

.logintext {
  font-weight: 900;
}

.md-select-menu-container.md-select-menu-container.md-select-menu-container {
  background-color: #f7f7f7;
  color: white;
}