@import 'vars';
@import 'typography';


body {
  font-family: Helvetica, sans-serif;
  color: $font-color--dark;
  background-color: $background--light;
  padding: $half-space;
}

.detailImage {
  position: absolute;
  top: -3em;
  left: 0;
}

.mapBtn.mapBtn.mapBtn {
  background-color: #000066;
  left: 35%;
  line-height: 2em;
  border: solid 2px #FFB915;
}