.myPosition {
  position: absolute;
  top: 50%;
  left: 42%;
  background-color: red;
}

.lufthansalounge {
  position: absolute;
  top: 25%;
  left: 50%;
}

.smallSize {
  width: 2.5em;
  height: 2em;
}

.middleSize {
  width: 2.5em;
  height: 2em;
}

.bigSize {
  width: 8em;
  height: 8em;
}

.borderColor {
  border: 0.2em solid #FFB915;
}

.firstAva.firstAva.firstAva.firstAva {
  position: absolute;
  left: -0.4em;
  top: -0.3em;
  width: 3em;
}

.first.first.first.first {
  position: absolute;
  top: 56%;
  left: 15%;
  width: 2.5em;
  height: 2em;
}

.second.second.second.second {
  position: absolute;
  top: 60%;
  left: 50%;
  width: 2.5em;
  height: 2em;
}

.third.third.third.third {
  position: absolute;
  top: 60%;
  left: 40%;
  width: 2.5em;
  height: 2em;
}

.fourth.fourth.fourth.fourth {
  position: absolute;
  top: 33%;
  left: 43%;
  width: 2.5em;
  height: 2em;
}

.fifth {
  position: absolute;
  top: 13em;
  left: 13em;
  width: 2.5em;
  height: 2em;
}

.mapbg {
  background-image: url("./../images/mapbg.png");
  background-repeat: no-repeat;
  background-size: contain;
}
