.myPosition {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: red;
}

.borderColor {
  border: 0.3em solid #FFB915;
}

.firstAva.firstAva.firstAva.firstAva {
  position: absolute;
  left: -0.1em;
  top: -0.3em;
}

.first.first.first.first {
  position: absolute;
  top: 20%;
  left: 10%;
  width: 4em;
  height: 4em;
}

.second.second.second.second {
  position: absolute;
  top: 30%;
  left: 10%;
  width: 2.5em;
  height: 2em;
}

.third.third.third.third {
  position: absolute;
  top: 30%;
  left: 10%;
  width: 1em;
  height: 1em;
}

.fourth.fourth.fourth.fourth {
  position: absolute;
  top: 33em;
  left: 33em;
  width: 2em;
  height: 2em;
}

.fifth {
  position: absolute;
  top: 13em;
  left: 13em;
  width: 1em;
  height: 1em;
}