<div layout-fill layout-align="center center">
    <md-subheader>What you want to talk about</md-subheader>
    <md-input-container>
        <label>First Interst</label>
    <md-select ng-model="interest.interest1" placeholder="Books">
        <md-option>
            Books
        </md-option>
        <md-option>
            Music
        </md-option>
        <md-option>
            Moovies
        </md-option>
        <md-option>
            Sports
        </md-option>
        <md-option>
            Business
        </md-option>
    </md-select>
    </md-input-container>
    <md-input-container>
        <label>Second Interst</label>
    <md-select ng-model="interest.interest2" placeholder="Business">
        <md-option>
            Books
        </md-option>
        <md-option>
            Music
        </md-option>
        <md-option>
            Moovies
        </md-option>
        <md-option>
            Sports
        </md-option>
        <md-option>
            Business
        </md-option>
    </md-select>
    </md-input-container>
    <md-input-container>
        <label>Third Interst</label>
    <md-select ng-model="interest.interest3" placeholder="Sports">
        <md-option>
            Books
        </md-option>
        <md-option>
            Music
        </md-option>
        <md-option>
            Moovies
        </md-option>
        <md-option>
            Sports
        </md-option>
        <md-option>
            Business
        </md-option>
    </md-select>
    </md-input-container>

    <md-button class="md-fab mapBtn" ng-click="interest.goToMap();">
        <img src="./images/map.png">
    </md-button>
</div>