<div layout-fill layout-align="center center">
  <md-subheader style="background-color: #000066; color: #FFB915; margin-right:0;">What you want to talk about
  </md-subheader>
  <br>
  <md-input-container class="solidfill">
    <label>First Interst</label>
    <md-select class="solidfill" ng-model="interest.interest1" placeholder="Cats">
      <md-option>
        Travelling
      </md-option>
      <md-option class="solidfill">
        Books
      </md-option>
      <md-option>
        Music
      </md-option>
      <md-option>
        Movies
      </md-option>
      <md-option>
        Steven Seagal Movies
      </md-option>
      <md-option>
        Sports
      </md-option>
      <md-option>
        Business
      </md-option>
      <md-option>
        Cats
      </md-option>
      <md-option>
        Coffee
      </md-option>
      <md-option>
        Programming
      </md-option>
    </md-select>
  </md-input-container>
  <md-input-container>
    <label>Second Interst</label>
    <md-select ng-model="interest.interest2" placeholder="Business">
      <md-option>
        Travelling
      </md-option>
      <md-option>
        Books
      </md-option>
      <md-option>
        Music
      </md-option>
      <md-option>
        Movies
      </md-option>
      <md-option>
        Steven Seagal Movies
      </md-option>
      <md-option>
        Sports
      </md-option>
      <md-option>
        Business
      </md-option>
      <md-option>
        Cats
      </md-option>
      <md-option>
        Coffee
      </md-option>
      <md-option>
        Programming
      </md-option>
    </md-select>
  </md-input-container>
  <md-input-container>
    <label>Third Interst</label>
    <md-select ng-model="interest.interest3" placeholder="Sports">
      <md-option>
        Travelling
      </md-option>
      <md-option>
        Books
      </md-option>
      <md-option>
        Music
      </md-option>
      <md-option>
        Steven Seagal Movies
      </md-option>
      <md-option>
        Sports
      </md-option>
      <md-option>
        Business
      </md-option>
      <md-option>
        Cats
      </md-option>
      <md-option>
        Coffee
      </md-option>
      <md-option>
        Programming
      </md-option>
    </md-select>
  </md-input-container>

  <md-button class="md-fab mapBtn" ng-click="interest.goToMap();"
             style="background-color: #000066">
    <img src="./images/map.png">
  </md-button>
</div>