<style type="text/css">
  div.bg {
    background-image: url('./images/login_background.jpg');
    background-repeat: no-repeat;
  }
</style>

<div class="bg" layout-fill>
  <h1 style="color: white;">Welcome back to Bea Connected Juan!</h1>
  <div layout-align="center center">
    <md-button class="md-raised md-primary" ng-click="welcome.onLogin();">LOGIN</md-button>
  </div>
  <div layout="row">
    <md-button class="md-fab md-primary" aria-label="Facebook">
      <md-icon md-svg-src="./images/facebook.svg"></md-icon>
    </md-button>
    <md-button class="md-fab md-primary" aria-label="Twitter">
      <md-icon md-svg-src="./images/twitter.svg"></md-icon>
    </md-button>
    <md-button class="md-fab md-primary" aria-label="LinkedIn">
      <md-icon md-svg-src="./images/linkedin.png"></md-icon>
    </md-button>
  </div>
</div>