<div layout-fill>
  <h1>Welcome back to Bea Connected Juan!</h1>
  <div layout="row" layout-align="center center">
    <md-button>LOGIN</md-button>
  </div>
  <div layout="row">
    <md-button class="md-fab md-primary" aria-label="Facebook">
      <md-icon md-svg-src="./images/facebook.svg"></md-icon>
    </md-button>
    <md-button class="md-fab md-primary" aria-label="Twitter">
      <md-icon md-svg-src="./images/facebook.svg"></md-icon>
    </md-button>
    <md-button class="md-fab md-primary" aria-label="LinkedIn">
      <md-icon md-svg-src="./images/facebook.svg"></md-icon>
    </md-button>
  </div>
</div>